<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

<bean class="com.training.springdayone.Car" id="car"></bean>

<bean class="com.training.springdayone.Truck" id="truck"></bean>
<bean class="com.training.springdayone.MockVehicle" id="dummy"></bean>

<bean class="com.training.springdayone.Traveller" id="traveller">
	<constructor-arg ref="dummy"></constructor-arg>
</bean>

<bean class="com.training.spring.two.CarDAOJDBCImpl" id="carDAOJDBCImpl"></bean>
<bean class="com.training.spring.two.CarDAODummyImpl" id="carDAODummyImpl"></bean>

<bean class="com.training.spring.two.CarServiceImpl" id="carService">
	<constructor-arg ref="carDAOJDBCImpl"></constructor-arg>
</bean>

</beans>
