<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>carservlet</display-name>
  <welcome-file-list>
    <welcome-file>home.html</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>driverClassName</param-name>
    <param-value>com.mysql.jdbc.Driver</param-value>
  </context-param>
  <context-param>
    <param-name>jdbcURL</param-name>
    <param-value>jdbc:mysql://localhost/training</param-value>
  </context-param>
  <context-param>
    <param-name>username</param-name>
    <param-value>root</param-value>
  </context-param>
  <context-param>
    <param-name>password</param-name>
    <param-value>password</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>ListCarServlet</display-name>
    <servlet-name>ListCarServlet</servlet-name>
    <servlet-class>com.training.servlet.car.web.ListCarServlet</servlet-class>
    <init-param>
      <param-name>maxCarsToDisplay</param-name>
      <param-value>5</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListCarServlet</servlet-name>
    <url-pattern>/list</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCarServlet</display-name>
    <servlet-name>AddCarServlet</servlet-name>
    <servlet-class>com.training.servlet.car.web.AddCarServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCarServlet</servlet-name>
    <url-pattern>/add</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayListCarServlet</display-name>
    <servlet-name>DisplayListCarServlet</servlet-name>
    <servlet-class>com.training.servlet.car.web.DisplayListCarServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayListCarServlet</servlet-name>
    <url-pattern>/displayList</url-pattern>
  </servlet-mapping>
</web-app>