<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd">

	<context:component-scan base-package="com.training"></context:component-scan>

	<bean id="jmsTemplate" class="org.springframework.jms.core.JmsTemplate">
		<property name="connectionFactory" ref="mqConnectionFactory" />
	</bean>

	<bean id="statementProcessingQueue" class="org.apache.activemq.command.ActiveMQQueue">
		<property name="physicalName" value="StatementProcessingQueue"></property>
	</bean>
	
	<bean id="stockTickerTopic" class="org.apache.activemq.command.ActiveMQTopic">
		<property name="physicalName" value="StockTickerTopic"></property>
	</bean>

	<bean id="mqConnectionFactory" class="org.apache.activemq.ActiveMQConnectionFactory">
		<property name="brokerURL">
			<value>tcp://localhost:61616</value>
		</property>
	</bean>
	
	<bean id="messageListener" class="com.training.jms2.TestMessageListener"></bean>

	<bean id="messageListenerContainer"
		class="org.springframework.jms.listener.DefaultMessageListenerContainer">
		<property name="connectionFactory" ref="mqConnectionFactory" />
		<property name="destination" ref="stockTickerTopic" />
		<property name="messageListener" ref="messageListener" />
		<property name="concurrentConsumers" value="2" />
	</bean>

</beans>
