<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>servlet2</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ListBooks</display-name>
    <servlet-name>ListBooks</servlet-name>
    <servlet-class>com.training.java.servlet.servlet3.web.ListBooksServlet</servlet-class>
    <init-param>
      <param-name>maxBooksDisplayed</param-name>
      <param-value>100</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListBooks</servlet-name>
    <url-pattern>/list</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddBookServlet</display-name>
    <servlet-name>AddBookServlet</servlet-name>
    <servlet-class>com.training.java.servlet.servlet3.web.AddBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddBookServlet</servlet-name>
    <url-pattern>/add</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>jdbcURL</param-name>
    <param-value>jdbc:oracle:thin:@localhost:1521:XE</param-value>
  </context-param>
  <context-param>
    <param-name>dbUsername</param-name>
    <param-value>bookstore</param-value>
  </context-param>
  <context-param>
    <param-name>dbPassword</param-name>
    <param-value>password</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>DisplayBooksServlet</display-name>
    <servlet-name>DisplayBooksServlet</servlet-name>
    <servlet-class>com.training.java.servlet.servlet3.web.DisplayBooksServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayBooksServlet</servlet-name>
    <url-pattern>/display</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BuyBookServlet</display-name>
    <servlet-name>BuyBookServlet</servlet-name>
    <servlet-class>com.training.java.servlet.servlet3.web.BuyBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuyBookServlet</servlet-name>
    <url-pattern>/buy</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShopingCartServlet</display-name>
    <servlet-name>ShopingCartServlet</servlet-name>
    <servlet-class>com.training.java.servlet.servlet3.web.ShopingCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShopingCartServlet</servlet-name>
    <url-pattern>/cart</url-pattern>
  </servlet-mapping>
</web-app>