<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>MovieStore</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ListMovieServlet</display-name>
    <servlet-name>ListMovieServlet</servlet-name>
    <servlet-class>com.training.java.servlet.moviestore.web.ListMovieServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListMovieServlet</servlet-name>
    <url-pattern>/list</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddMovieServlet</display-name>
    <servlet-name>AddMovieServlet</servlet-name>
    <servlet-class>com.training.java.servlet.moviestore.web.AddMovieServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddMovieServlet</servlet-name>
    <url-pattern>/add</url-pattern>
  </servlet-mapping>
</web-app>