<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="car" class="com.training.java.spring.Car"></bean>
	<bean id="boat" class="com.training.java.spring.Boat"></bean>
	
	<bean id="suitecase" class="com.training.java.spring.SuiteCase"></bean>

	<bean id="traveller" class="com.training.java.spring.Traveller">
		<constructor-arg ref="boat"></constructor-arg>
		<constructor-arg ref="suitecase"></constructor-arg>
	</bean>


</beans>
